.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 34px 36px 37px;

  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  box-sizing: border-box;
}
