.footer {
  max-width: 318px;
  /* width: 100%; */

  padding: 67px 0 60px;
}

@media (max-width: 1023px) {
  .footer {
    padding-left: 27px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 48px 19px 36px;
  }
}