.popup__input-save-btn {
  width: 358px;
  height: 52px;
  background-color: #000000;
  color: #ffffff;
  margin: 5px 0 37px;
  padding: 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.popup__input-save-btn:hover {
  opacity: .8;
}


@media screen and (max-width: 767px) {
  .popup__input-save-btn {
      width: 100%;
      margin-bottom: 0;
  }
}