.card__islike-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  width: 22px;
  height: 19px;
  margin: 5px 5px 0 auto;

  background-image: url('../../../images/like.svg');

  opacity: 1;
  transition: opacity .3s linear;
}

.card__islike-btn:hover {
  opacity: .5;
}

.card__islike-btn:active {
  background-image: url('../../../images/like_active.svg');
}
