.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  width: 100%;
}

@media (max-width: 767px) {
  .profile__info {
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }
}