.popup__close-btn_type_pic {
  cursor: pointer;
  height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -8px;
  top: -8px;
  transform: translate(100%, -100%);
  transition: opacity 0.2s ease-in-out;
  width: 32px;
}